.Container{
    height: 700px;
    background-color: yellow;
    color: black;
    border: 1px solid red;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
}
.box{
    border: 1px solid green;
    background-color: aqua;
    height: 100px;
    width: 100px;
}