.container{
    height: 700px;
    width: 400px;
    border: 1px solid black;
    background-color: yellow;
    display: grid;

    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px;
    grid-gap: 10px;
/*     
    justify-content: end;
    justify-content: start;
    justify-content: baseline;
    justify-content: center;
    justify-content: space-around;
    justify-content: space-between;
    justify-content: space-evenly;
    justify-content: stretch;
    justify-content: unset;
    
*/
   align-items: start;
   align-items: end;
   align-items: center;
   align-items: baseline;
   align-items: first baseline;
   align-items: flex-end;
   align-items: flex-start;
   align-items: last baseline;
   align-items: normal;
   align-items: center;
}
.BOX:hover{
    border: 1px solid red;
    background-color: aqua;
    
}

